@use "./mixins" as *;

.secure-section {
  position: relative;
  z-index: 5;
  margin: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include small-tablet {
    flex-direction: column;
    margin: 60px 50px;
  }

  @include mobile {
    flex-direction: column;
    margin: 30px 20px;
  }

  .sec-1 {
    background: #8547f6;
    background: linear-gradient(
      90deg,
      rgba(133, 71, 246, 0.2) 60%,
      rgba(183, 121, 245, 0.25) 100%
    );
    padding: 24px;
    border-right: 1px solid white;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;

    @include tablet {
      padding: 18px;
    }

    @include small-tablet {
      border-right: none;
      border-bottom: 1px solid white;
      border-bottom-left-radius: 0;
      border-top-right-radius: 14px;
      gap: 20px;
      background: linear-gradient(
        0deg,
        rgba(183, 121, 245, 0.25) 0%,
        rgba(133, 71, 246, 0.2) 40%
      );
      gap: 0px;
      align-items: start;
      padding: 24px 24px 14px 24px;
      width: auto;
      flex: 1;
    }

    @include mobile {
      border-right: none;
      border-bottom: 1px solid white;
      border-bottom-left-radius: 0;
      border-top-right-radius: 14px;
      gap: 20px;
      background: linear-gradient(
        0deg,
        rgba(183, 121, 245, 0.25) 0%,
        rgba(133, 71, 246, 0.2) 40%
      );
      gap: 0px;
      align-items: start;
      padding: 24px 24px 14px 24px;
      width: auto;
      flex: 1;
    }

    .cube-wrapper {
      padding: 26px;

      @include tablet {
        padding: 15px;
      }

      @include small-tablet {
        padding: 15px;
      }

      @include mobile {
        padding: 15px;
      }

      .cube {
        width: 100px;
        height: 100px;
        transform-style: preserve-3d;
        transform: rotateX(-30deg) rotateY(35deg) translate(-50%, -50%);

        @include tablet {
          width: 50px;
          height: 50px;
        }

        > div {
          position: absolute;
          left: 50%;
          top: 50%;
          transform-style: preserve-3d;

          > div {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100px;
            height: 100px;
            border-radius: 8px;
            background: linear-gradient(
              rgba(237, 237, 237, 0.2),
              rgba(153, 153, 153, 0.1)
            );
            box-shadow: 0 0 4px rgba(255, 255, 255, 0.2),
              inset 0 0 4px rgba(255, 255, 255, 0.2);
            transform-origin: center;

            @include tablet {
              width: 60px;
              height: 60px;
            }

            @include small-tablet {
              width: 55px;
              height: 55px;
            }

            @include mobile {
              width: 55px;
              height: 55px;
            }

            &:nth-child(1) {
              transform: translate3d(0, 0, 50px); // фронт

              @include tablet {
                transform: translate3d(0, 0, 30px);
              }

              @include small-tablet {
                transform: translate3d(0, 0, 30px);
              }

              @include mobile {
                transform: translate3d(0, 0, 30px);
              }
            }
            &:nth-child(2) {
              transform: rotateX(90deg) translate3d(0, 0, 50px); // верх

              @include tablet {
                transform: rotateX(90deg) translate3d(0, 0, 30px);
              }

              @include small-tablet {
                transform: rotateX(90deg) translate3d(0, 0, 30px);
              }

              @include mobile {
                transform: rotateX(90deg) translate3d(0, 0, 30px);
              }
            }
            &:nth-child(3) {
              transform: rotateX(180deg) translate3d(0, 0, 50px); // зад

              @include tablet {
                transform: rotateX(180deg) translate3d(0, 0, 30px);
              }
              @include small-tablet {
                transform: rotateX(180deg) translate3d(0, 0, 30px);
              }
              @include mobile {
                transform: rotateX(180deg) translate3d(0, 0, 30px);
              }
            }
            &:nth-child(4) {
              transform: rotateX(270deg) translate3d(0, 0, 50px); // низ

              @include tablet {
                transform: rotateX(270deg) translate3d(0, 0, 30px);
              }
              @include small-tablet {
                transform: rotateX(270deg) translate3d(0, 0, 30px);
              }
              @include mobile {
                transform: rotateX(270deg) translate3d(0, 0, 30px);
              }
            }
            &:nth-child(5) {
              transform: rotateY(90deg) translate3d(0, 0, 50px); // право

              @include tablet {
                transform: rotateY(90deg) translate3d(0, 0, 30px);
              }
              @include small-tablet {
                transform: rotateY(90deg) translate3d(0, 0, 30px);
              }
              @include mobile {
                transform: rotateY(90deg) translate3d(0, 0, 30px);
              }
            }
            &:nth-child(6) {
              transform: rotateY(-90deg) translate3d(0, 0, 50px); // ліво

              @include tablet {
                transform: rotateY(-90deg) translate3d(0, 0, 30px);
              }
              @include small-tablet {
                transform: rotateY(-90deg) translate3d(0, 0, 30px);
              }
              @include mobile {
                transform: rotateY(-90deg) translate3d(0, 0, 30px);
              }
            }
          }
        }
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 15px;

      > div:first-child {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-weight: 500;

        @include tablet {
          font-size: 20px;
        }

        @include small-tablet {
          font-size: 20px;
        }
        @include mobile {
          font-size: 17px;
        }
      }
      > div:last-child {
        display: flex;
        flex-direction: column;
        gap: 3px;
        font-weight: 200;

        @include tablet {
          font-size: 12px;
        }

        @include small-tablet {
          font-size: 14px;
        }
        @include mobile {
          font-size: 12px;
        }
      }
    }
  }

  .sec-2 {
    background: #b779f5;
    background: linear-gradient(
      90deg,
      rgba(183, 121, 245, 0.25) 0%,
      rgba(133, 71, 246, 0.2) 40%
    );
    padding: 24px;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;

    @include tablet {
      padding: 18px;
    }

    @include small-tablet {
      border-bottom-left-radius: 14px;
      border-top-right-radius: 0;

      background: linear-gradient(
        180deg,
        rgba(183, 121, 245, 0.25) 0%,
        rgba(133, 71, 246, 0.2) 40%
      );
      width: auto;
      flex: 1;
      gap: 40px;
    }
    @include mobile {
      border-bottom-left-radius: 14px;
      border-top-right-radius: 0;

      background: linear-gradient(
        180deg,
        rgba(183, 121, 245, 0.25) 0%,
        rgba(133, 71, 246, 0.2) 40%
      );
      width: auto;
      flex: 1;
      gap: 40px;
    }

    > span:first-child {
      font-weight: 500;
      font-size: 60px;

      @include tablet {
        font-size: 45px;
      }

      @include small-tablet {
        font-size: 40px;
      }
      @include mobile {
        font-size: 40px;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 15px;

      > div:first-child {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-weight: 500;

        @include tablet {
          font-size: 20px;
        }

        @include small-tablet {
          font-size: 20px;
        }
        @include mobile {
          font-size: 17px;
        }
      }
      > div:last-child {
        display: flex;
        flex-direction: column;
        gap: 3px;
        font-weight: 200;

        @include tablet {
          font-size: 12px;
        }

        @include small-tablet {
          font-size: 14px;
        }
        @include mobile {
          font-size: 12px;
        }
      }
    }
  }
}
