@use "partials/hero-page";
@use "partials/security-section.scss";
@use "partials/benefits-section.scss";
@use "partials/services-section.scss";
@use "partials/community-section.scss";
@use "partials/testimonials.scss";
@use "partials/faq-section.scss";
@use "partials/variables" as *;

body {
  margin: 0;
  background-color: $background-color;
  font-family: $font-family-main;
  color: $font-color;
  overflow-x: hidden;
}
